* {
    font-family: Times, Times New Roman, serif;
    color: #3f3f3f;
    box-sizing: border-box;
}
body {
    background: WhiteSmoke;
    margin:auto;
    width: 100%;
    max-width:1000px;
    min-height: auto;
}
.header_kentatsu {
    background: #9ACEEB;
    margin: 5px;
    margin-bottom: 20px;
    display: block;
    border: 1px solid #b5e9a7;
    border-radius: 5px;
     top: 0;
     left: 0;
     height: 70px;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .header_kentatsu ul {
    list-style: none;
    float: right;
    margin-right: 15px;
}
/* @media screen and (min-width: 320px) and (max-width: 600px) {
    .tel {
        visibility: hidden;
        display: none;
    }
} */
.tel {
    list-style: none;
    display: block;
    position: relative;
    margin-right: 5px;
    /* margin-top: -7px; */
    line-height: 2;
    font-size: 18px;
    float:right;
    text-decoration: none;
    font-weight: bold;
    color: #327dc8;
}
  #page_kentatsu {
    display: block;
    position: relative;
    margin-left: 20px;
    color: #327dc8;
    float: left;
}
#title_kentatsu {
    display:block;
    color: #327dc8;
    float: right;
    margin-right: 25px;
}
#specifications {
    text-align: center;
}

.img_main {
    width: 80%;
    margin-bottom: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#installation {
    background: #FFFFFF;
    padding: 10px;
    display: block;
    border: 1px solid #b5e9a7;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 45px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#installation h3 {
    color: #327dc8;
    margin-left: 10px;
}
#installation p {
/* font-size: 20px; */
margin-left: 10px;
}
#kentatsu {
    font-size: 25px;
    color: #327dc8;
}
 /* КНОПКА ВОТСАП */
 .whatsapp-button {
    position: fixed;
    right: 8px;
    bottom: 0;
    transform: translate(-50%, -50%);
    background: #25D366; /*цвет кнопки*/
    border-radius: 50%;
    width: 55px; /*ширина кнопки*/
    height: 55px; /*высота кнопки*/
    color: #fff;
    text-align: center;
    line-height: 53px; /*центровка иконки в кнопке*/
    font-size: 35px; /*размер иконки*/
    z-index: 9999;
}
.whatsapp-button a {
    color: #fff;
}
.whatsapp-button:before,
.whatsapp-button:after {
    content: " ";
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #25D366; /*цвет анимированных волн от кнопки*/
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden; 
}
 
.whatsapp-button:after{
    animation-delay: .5s;
}
 
@keyframes animate
{
    0%
    {
        transform: scale(0.5);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.2);
        opacity: 0;
    }
}
/* КНОПКА ЗВОНИТЬ */
@media screen and (min-width: 960px) {
    .phone-button {
    visibility: hidden;
    display: none;
    }
}
.phone-button {
    position: fixed;
    right: 13px;
    bottom: 90px;
    transform: translate(-50%, -50%);
    background: #5bc0de;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    color: #fff;
    text-align: center;
    line-height: 55px;
    font-size: 30px;
    z-index: 9999;
}
.phone-button a {
    color: #fff;
}
.phone-button:before,
.phone-button:after {
    content: " ";
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #5bc0de;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden; 
}
.phone-button:after{
    animation-delay: .5s;
}
.phone-button i {
        color:#fff;
        transition:.3s;
        animation: 1200ms ease 0s normal none 1 running shake;
        animation-iteration-count: infinite;
}
@keyframes animate
{
    0%
    {
        transform: scale(0.5);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.2);
        opacity: 0;
    }
}
@keyframes shake {
0% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
}
@media (max-width : 800px) {  
    .phone-button {   
        bottom: 0; /*отступ кнопки снизу от экрана*/
        left: 70px; /*отступ кнопки слева от экрана(right - справа)*/
      }
    }